.droparea {
  background: grey;
  z-index: 100;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
}
.droparea .hidden {
  display: none;
}
.files-wrap__filename {
  display: block;
  border-bottom: 1px solid #ccc;
  margin-right: 25px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}
.files-wrap__type {
  margin: 10px 0 !important;
  color: black !important;
  border: 1px solid #a3a3a3;
}
.error-text {
  color: red !important;
}
.text-center {
  text-align: center !important;
}
.file__extend {
  top: 52px !important;
}
