#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
}
#top-navbar {
	margin: 10px 0 0;
	max-width: 100%;
}
#top-navbar-container {
	min-height: initial;
	padding: 10px 0;
}
#top-navbar-container > .nav.nav-pills {
	padding: 0 15px;
}
#myrequests {
	position: relative;
}
#myrequests:after {
	display: block;
	content: attr(data-count);
	background-color: #777;
	color: #FFF;
	text-align: center;
	line-height: 12px;
	font-size: 12px;
	padding: 3px 7px;
	position: absolute;
	right: 15px;
	top: calc(50% - 9px);
	border-radius: 12px;
	font-weight: 700;
}
#myrequests.active:after {
	background-color: #FFF;
	color: #337AB7;
}
.table.maintable tr td, .table.maintable tr th {
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
}
.table.maintable tr th { vertical-align: top; font-size: 16px; }
.table.maintable tbody tr:nth-child(2n) { background-color: #F6F6F6; }
.table.maintable tbody tr td:nth-child(1), .table.maintable tbody tr td:nth-child(3) { font-size: 16px; }
.fw-status {
	display: inline-block;
	margin: 0;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 4px;
	opacity: 1;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0;
	width: 100%;
}
.fw-status.status-awaiting-payment, .fw-status.status-payment-check { background-color: #FFB30E; color: #FFF; border: 1px solid #C78C0B; }
.fw-status.status-package-control { background-color: #FEF200; color: #1D8C74; border: 1px solid #FEF200; }
.fw-status.status-awaiting-upload { background-color: #FFB30E; color: #FFF; border: 1px solid #C78C0B; }
.fw-status.status-answer-income { background-color: #B5E61D; color: #1D8C74; border: 1px solid #B5E61D; }
.fw-status.status-no-input { background-color: #B3B3B3; color: #010907; border: 1px solid #B3B3B3; }
.modal-fullscreen { padding-right: 0 !important; height: 100%; }
.modal-fullscreen .modal-dialog {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.modal-fullscreen .modal-content {
	height: 100%;
	border-radius: 0;
}
.modal-fullscreen .modal-content .modal-body { height: calc(100% - 120px); overflow: hidden; }
.modal-fullscreen .modal-content .modal-body .row { height: calc(100% - 90px); overflow: hidden; }
.modal-fullscreen .modal-content .modal-body .row > .form-group:not(.file-container) { height: 100%; overflow: hidden; }
.form-group.file-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	max-height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.form-group.file-container .file-uploaded {
	width: calc(33% - 22px);
	max-width: 400px;
	margin: 0 1% 20px 1%;
	padding: 10px;
	border: 1px solid #CCC;
	border-radius: 4px;
	position: relative;
	transition: 0.3s;
	display: inline-table;
}
.form-group.file-container .file-uploaded img {
	width: 100%;
	max-width: 380px;
	height: auto;
	max-height: 400px;
	object-fit: contain;
	float: left;
}
.form-group.file-container .file-uploaded select {
	width: calc(100% - 40px);
	margin-top: 10px;
	float: left;
}
.form-group.file-container .file-uploaded .btn {
	float: left;
	width: 34px;
	height: 34px;
	margin: 10px 0 0 6px;
}
#dropdown_files:hover { background-color: #F0F0F0; }
#dropdown_files {
	transition: 0.3s;
	position: relative;
	width: 100%;
	height: 100%;
	border: thick dashed #CCC;
	cursor: pointer;
	background-color: #E8E8E8;
}
#dropdown_files .txt {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}
#dropdown_files .txt p.text-center { width: 100%; margin-bottom: 5px; }
#dropdown_files .txt p {
	margin: 0;
	display: block;
	width: 70%;
	color: #858585 !important;
	font-weight: bold;
}
#dropdown_files form {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#dropdown_files form input[type="file"] {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
}





#step-current:before {
	content: "Шаг ";
}
#step-current:after {
	content: " из " attr(data-count);
}
#controls { width: 100%; }
#backBtn[nobtn] { display: none; }
#backBtn { float: left; }
#nextBtn { float: right; }
#nextBtn[nobtn] { display: none; }
#stepper { width: 100%; }
#stepper > .step { display: none; width: 100%; }
#stepper > .step[current] { display: block; }

/********  new styles from Alex **********/

.btn-one {opacity: 1; font-size: 12px; cursor: initial !important; font-weight: bold; text-transform: uppercase; padding: 0 !important; width: 100%; background-color: #b3b3b3 !important; color: #010907 !important; border-color: #b3b3b3 !important;}
.btn-two {opacity: 1; font-size: 12px; cursor: initial !important; font-weight: bold; text-transform: uppercase; padding: 0 !important; width: 100%; background-color: #FFB30E !important; color: #FFF !important; border: 1px solid #C78C0B !important;}

body {
	background: #fff !important;
}