@charset "UTF-8";
@font-face { font-family: "svgfont"; src: url("fonts/svgfont.eot"); src: url("fonts/svgfont.eot?#iefix") format("eot"), url("fonts/svgfont.woff") format("woff"), url("fonts/svgfont.woff2") format("woff2"), url("fonts/svgfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.icon, [class^="icon-"], [class*=" icon-"] { font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon, [class^="icon-"], [class*=" icon-"] { display: inline-block; }

.icon-error:before { content: ""; }

.icon-caret-l:before { content: ""; }

.icon-search:before { content: ""; }

.icon-cancel:before { content: ""; }

.icon-danger:before { content: ""; }

.icon-success:before { content: ""; }

.icon-caret-r:before { content: ""; }

.icon-check:before { content: ""; }

button:focus { outline: none; }

[hidden] { display: none !important; }

.inner { padding-left: 10px; }

.btn-file { position: relative; overflow: hidden; }

.btn .icon { display: inline-block; vertical-align: middle; margin-right: 5px; font-size: 16px; color: #fff; }

.upload { text-align: center; color: #747575; font-size: 14px; clear: both; font-family: Arial, sans-serif; }
.upload__title { margin-bottom: 20px; font-size: 14px; }
.upload__row { white-space: nowrap; }
.upload__col { display: inline-block; vertical-align: middle; padding: 23px 35px; border-left: 1px solid #ccc; }
.upload__col:first-child { border: 0; }
.upload p { margin-bottom: 0; }

.panels-group { margin-bottom: 5px; border-bottom: 1px solid #d1d3d4; }
.panels-group .panel:last-child { margin-bottom: 10px; }

.panel { position: relative; margin-bottom: 15px; border: 0; color: #747575; font-size: 14px; font-family: Arial, sans-serif; line-height: 1; -webkit-box-shadow: none; box-shadow: none; border-radius: 0; }
.panel__head { display: table; width: 100%; }
.panel__body { padding-bottom: 5px; }
.panel__cell { display: table-cell; vertical-align: middle; padding: 8px 5px; -webkit-box-shadow: none; box-shadow: none; background: #f1f0f0; }
.panel__cell:last-child { text-align: right; }

.panel.is-error { -webkit-box-shadow: 0 0 0 1px #e66857; box-shadow: 0 0 0 1px #e66857; }
.panel.is-error:before { content: ""; position: absolute; left: -20px; top: 7px; color: #e66857; font-size: 15px; font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.panel.is-error .panel__head { color: #e66857; }

.panel.is-success { -webkit-box-shadow: 0 0 0 1px #23b090; box-shadow: 0 0 0 1px #23b090; }
.panel.is-success:before { content: ""; position: absolute; left: -20px; top: 7px; color: #23b090; font-size: 15px; font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.panel.is-success .panel__head { color: #23b090; }

.panel.is-danger { -webkit-box-shadow: 0 0 0 1px #fbad48; box-shadow: 0 0 0 1px #fbad48; }
.panel.is-danger:before { content: ""; position: absolute; left: -20px; top: 7px; color: #fbad48; font-size: 15px; font-family: "svgfont"; font-style: normal; font-weight: normal; text-rendering: auto; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.panel.is-danger .panel__head { color: #fbad48; }

.file-items-upload .file-item { margin-bottom: 10px; }

.file-item { margin: 5px 0; }
.file-item .form-control { font-size: 14px; font-family: Arial, sans-serif; }
.file-item .col-xs-3 { padding-right: 5px; }
.file-item_progress { margin: 8px 0; border-top: 1px solid #d1d3d4; padding: 13px 0 13px 15px; }

.files-wrap { position: relative; z-index: 5; padding: 10px 0 10px 25px; margin: 0 -25px; *zoom: 1; background: #fff; border-top: 2px solid #bfbebe; }
.files-wrap:after { content: " "; display: table; clear: both; }
.files-wrap__title { float: left; width: 93%; margin-bottom: 15px; font-size: 14px; font-weight: bold; color: #747575; }

.files-wrap-overlay { display: none; position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0, 0, 0, 0.5); z-index: 4; }
.files-wrap-overlay.is-active { display: block; }

.file { display: table; width: 100%; table-layout: fixed; font-size: 14px; color: #747575; font-family: Arial, sans-serif; }
.file__cell { display: table-cell; vertical-align: middle; position: relative; padding-left: 10px; }
.file__cell:first-child { width: 50px; padding-left: 15px; }
.file__img { text-align: right; }
.file__img img { max-width: 100%; }
.file__img .btn-cancel { position: absolute; left: 0; top: 0; }
.file__name { overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.file__preview { position: relative; border: 2px solid #bfbebe; height: 212px; line-height: 208px; text-align: center; font-size: 12px; background: #f1f0f0; }
.file__preview img { display: inline-block; border: 0; vertical-align: middle; max-width: 100%; max-height: 100%; height: auto; width: auto; }
.file__preview .btn-cancel { display: none; position: absolute; right: 0; top: 0; z-index: 2; padding: 5px; font-size: 12px; color: #23b090; }
.file__extend { display: none; position: absolute; top: 68px; left: 2px; right: 2px; padding: 16px 10px; text-align: center; background: rgba(0, 0, 0, 0.3); line-height: 1; color: #fff; max-height: 100%; overflow: hidden; }
.file__extend span { display: block; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; font-weight: bold; }
.file__extend .icon { margin-bottom: 5px; font-size: 12px; }
.file__extend .icon-check { position: relative; color: #fff; }

.file_preview { float: left; margin: 0 22px 5px 0; width: 150px; cursor: pointer; display: block; font-size: 12px; }
.file_preview .file__name { padding: 7px 15px; line-height: 1; }
.file_preview:hover .file__preview { border-color: #23b090; }
.file_preview:hover .file__name { background: #23b090; color: #fff; }
.file_preview:hover .btn-cancel { display: block; }
.file_preview.is-active .file__extend { display: block; }

.file_more-docs .form-group { margin: 16px auto 0; width: 62px; }
.file_more-docs .form-group label { font-weight: normal; }
.file_more-docs .form-group .form-control { border-radius: 10px; }

.btn-cancel { display: inline-block; padding: 10px 5px; background: none; border: 0; color: #e1e1e1; font-size: 0; -webkit-transition: color 0.2s; transition: color 0.2s; line-height: 1; }
.btn-cancel .icon { vertical-align: middle; font-size: 10px; }
.btn-cancel:hover { color: #747575; }

.form-inline .form-control_number { width: 60px; border-radius: 10px; }
.form-inline label { margin-right: 10px; }

.progress { position: relative; height: 35px; border: 1px solid #e1e1e1; border-radius: 5px; overflow: hidden; background: none; -webkit-box-shadow: none; box-shadow: none; line-height: 35px; font-size: 14px; color: #fff; }
.progress progress { position: absolute; opacity: 0; visibility: hidden; }
.progress__value { position: absolute; left: 0; top: 0; bottom: 0; width: 0; background: #23b090; overflow: hidden; text-align: center; -webkit-transition: width 0.3s; transition: width 0.3s; }

.progress-size { font-size: 14px; height: 35px; line-height: 35px; color: #747575; }

.helper-panel { position: fixed; border: 2px solid #bfbebe  ; padding: 18px; width: 872px; margin-left: -17px; z-index: 20; font-size: 14px; color: #747575; background: #fff; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); text-align: center; }
.helper-panel__info { padding-top: 7px; font-style: italic; color: #23b090; }
.helper-panel__text { display: inline-block; text-align: left; }
.helper-panel .btn-cancel { position: absolute; left: 3px; top: 0; padding: 5px; font-size: 12px; color: #bebdbd; }

.modal { background: rgba(0, 0, 0, 0.1); text-align: center; font-size: 0; }
.modal:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.modal-dialog { display: inline-block; vertical-align: middle; width: 445px; top: 50%; }
.modal-content { border: 0; background: #BFBEBE; border-radius: 0; -webkit-box-shadow: none; box-shadow: none; }

.doc { position: relative; text-align: center; }
.doc img { display: block; width: 100%; }
.doc__extend { position: absolute; left: 0; right: 0; bottom: 0; padding: 15px 0 6px; background: rgba(0, 0, 0, 0.3); }
.doc__extend > .icon { margin-bottom: 15px; font-size: 12px; }
.doc select { margin: 0 auto 6px; width: 210px; }
.doc .form-group label { font-size: 12px; color: #fff; font-weight: normal; vertical-align: middle; }
.doc .icon-check { position: relative; color: #fff; }

.btn-prev, .btn-next { position: absolute; top: 0; height: 100%; width: 83px; padding: 0; background: none; font-size: 16px; color: #fff; border: 0; line-height: 1; }
.btn-prev .icon, .btn-next .icon { position: relative; top: 2px; vertical-align: middle; }
.btn-prev:hover, .btn-next:hover { font-size: 20px; }

.btn-prev { left: 0; }

.btn-next { right: 0; }

.close { position: absolute; right: -30px; top: -30px; text-shadow: none; opacity: 1; color: rgba(116, 117, 117, 0.7); }
.close:hover { color: #747575; opacity: 1; }

.icon-cancel:hover
{
	color: #000;
}

.files-wrap__img
{
	float: left;
	width: 7%;
	padding-right: 2%
}

/*# sourceMappingURL=upload.css.map */
