.files-wrap {

  &__filename {
    display: block;
    border-bottom: 1px solid #ccc;
    margin-right: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
  }

  &__type {
    margin: 10px 0 !important;
    color: black !important;
    border: 1px solid #a3a3a3;
  }

}